*{
    font-family: Verdana,Arial;
    word-break: break-all;
	font-size:12px;
}
a:link, a:visited, a:active {
    /*color: #000000;*/
    text-decoration: none;
}
body{
	background:#c7fab5;
}
img {
   border: 0;
}
#maindiv{
	/*width:1500px;*/
	width:100%;
}
.comment_table .comment_td{
	padding-left:20px;
}

.comment_table thead tr .header {
	background-image: url(../images/tableSort/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.comment_table thead tr .headerSortUp {
	background-image: url(../images/tableSort/asc.gif);
}

.comment_table thead tr .headerSortDown {
	background-image: url(../images/tableSort/desc.gif);
}

.comment_table thead tr .headerSortUp, .comment_table thead tr .headerSortDown{
	background-color: #8DBDD8;
}


table{
	width:100%;
}
table tr td p{
	margin-top: 0px; 
	margin-bottom: 0px;
}
tr{
	/*background:#c7fab5;*/
	background: url(../images/admin_list_articles_css_img/graygradient.png) top left repeat-x;
	height: 23px;
	font-size: 12px;
}
tr .first_td{
	width:150px;
}
tr td a{
	color:#000;
}
tr td a:hover{
	color:#fff;
}
.td_hover{
	background: url(../images/admin_list_articles_css_img/greengradient.png) repeat-x;
	color:#fff;
}
#header_title{
	width:100%;
	font-size:18px;
	background:#c7fab5;
	margin-bottom:10px;
}
