#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}
#restore_dialog .buttons div{
	background-image:url(../images/db_restore_css_img/dialog_button.gif); 
	background-repeat: repeat-x;
	cursor: pointer;
	float: right;
	font-weight: bold;
	height: 26px;
	margin-left: 4px;
	text-align: center;
	width: 70px;
	margin-top:30px
}