#maindiv{
	/*width:700px;*/
	width:920px;
	margin:0 auto;
}
#user_area{
	margin-bottom: 20px;
}
#article_div{
	float:left;
	margin-right:15px;
	width:700px;
}
#article_head{
	width:700px;
	height:53px;
	margin-top:20px;
	background-image:url(../images/show_article_css_img/article_headw700.jpg);
	background-repeat: no-repeat;
}
#article_middle{
	width:700px;
	background-image:url(../images/show_article_css_img/article_midw700.jpg);
	background-repeat: repeat-y;
	font-size:12pt;
}
#article_content{
	width: 640px;
	overflow:hidden;
	margin-left: 30px; 
	margin-right: 30px;
}
#descript_smimg_div{
	width:650px;
	height:150px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#f9e34e;
}
#smimgdiv{
	width:200px;
	margin-right:20px;
	float:left;
}
#descriptdiv{
	padding-top:15px;
	width:400px;
	float:left;
}
#article_last{
	height:44px;
	background-image:url(../images/show_article_css_img/article_lastw700.jpg);
	background-repeat: no-repeat;
}
#article_pre_next{
	width:650px;
}
.more_tags_div{
	float:left;
	width:200px;
}
.more_tags_div a{
	text-decoration:none;
	blr:expression(this.onFocus=this.blur()); /*针对 IE*/
	outline:none; /*针对firefox等*/
	color:#000;
}
#tags_comment{
	float:left;
	width:200px;
	margin-top:20px;
}
#tags_cloud{
	float:left;
	width:200px;
}
#tags_cloud a{
	text-decoration:none;
}
#sections{
	clear:both;
	width:700px;
}
#user_area a,#sections a{
	text-decoration:none;
}
#comments_wrap{
	float:left;
	width:700px;
}
#pages{
	float:left;
	width:691px;
}